.modal-dialog{:id => "role-options-#{user.id}", :style => "display: none;"}
  
  .modal-content
    .modal-header
      
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3 User Roles
    .modal-body
      = simple_form_for user, :url => user_path(user), :html => {:method => :put} do |f|
        = f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline'
        = f.submit "Change Role", :class => "btn"
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

      
      
    .modal-footer
