%p
  Many LSA classrooms can be scheduled for special lectures and events, including student group meetings and activities. Keep in mind that many large lecture halls in LSA require an LSA ISS technician to operate the equipment installed in the room. LSA audio video systems are designed primarily to support instruction. Features you may expect in a major event venue may not be available. You can use this website to identify what technology is built into each classroom and determine if that is sufficient for your event.

%p
  To arrange for A/V support for an event, please email the LSA ISS Special Events group at <a href="mailto:lsa-iss-reservations@umich.edu";>lsa-iss-reservations@umich.edu</a> or call 615-0100. If you are aware that your event attendees may have special needs, please discuss this with the Special Events group at the time of your reservation.
 


%p
  If you are Faculty or Staff, you should reserve the room via your department's administrator. If you are a student coordinating meetings or events for a registered U of M student organization, contact Student Organization Accounts Service (SOAS) to reserve LSA rooms. More information is available in the <a href="http://studentorgs.umich.edu/guidebook/facilities" target="_blank"> guidebook for student organizations</a>.