.main_image
  .coda-slider-wrapper-home.span-20
    .coda-slider.preload#coda-slider-home
      -# .panel
        .panel-wrapper
          = link_to image_tag("BorrowedUofMPics/LawQuad.jpg", :alt => "Law Quad",  :title => "LawQuad"), root_path
      .panel
        .panel-wrapper    
          = link_to image_tag("BorrowedUofMPics/League_Fountain.jpg", :alt => "Michigan League Fountain", :title => "Michigan League Fountain"), root_path
          
      .panel
        .panel-wrapper
          = link_to image_tag("BorrowedUofMPics/Cube_Fall.jpg", :alt => "Cube", :title => "Cube"), root_path
      
#main_text
  %br
  %p 
    As of fall 2012, the majority of rooms in this database are within the College of LSA. They are available to the general university for class and event scheduling. As a general rule, the registrar's office manages the schedule for university classrooms. Schools, colleges, and departments may have their own procedures. Faculty are encouraged to work through their departmental administrative staff to reserve rooms. Registered student organizations should reserve rooms through Student Organization Accounts Service (SOAS). More information is available in the guidebook for student organizations.
  

#main_features
  %ul
    
    %li
      = link_to 'Search Classrooms', classrooms_url, :class => "button"
    
:javascript
  $('#coda-slider-home').codaSlider({
                      autoSlide: true,
                      autoSlideInterval: 10000,
                      autoSlideStopWhenClicked: true,
                      slideEaseDuration: 2000,
                      autoHeight: false,         
                  });