:javascript
  <!--
    QT_WritePoster_XHTML('Click to Play', '/images/logo.png',
  	'/videos/panoramas/AHG115_qtvr.mov',
  	'640', '500', '',
  	'controller', 'false',
  	'autoplay', 'true',
  	'bgcolor', 'black',
  	'scale', 'aspect');
  //-->

  <noscript>
    <object width="640" height="500"  codebase="http://www.apple.com/qtactivex/qtplugin.cab">
    <param name="src" value="/images/logo.png" />
    <param name="href" value="/videos/panoramas/AHG115_qtvr.mov" />
    <param name="target" value="myself" />
    <param name="controller" value="false" />
    <param name="autoplay" value="false" />
    <param name="scale" value="aspect" />
    <embed width="640" height="500" type="video/quicktime" pluginspage="http://www.apple.com/quicktime/download/"
    src="/images/logo.png"
    href="/videos/panoramas/AHG115_qtvr.mov"
    target="myself"
    controller="false"
    autoplay="false"
    scale="aspect">
    </embed>
    </object>
  </noscript>