%h1 Listing room_attributes


%br

= link_to 'New Room attribute', new_room_attribute_path

%h2 Import Contacts

= form_tag import_room_attributes_path, multipart: true do
  =file_field_tag :file
  = submit_tag "Import"