/* Bubble with an isoceles triangle
 *------------------------------------------ */
/* line 15, ../../../src/attribute_icons.sass */
a.tip2 {
  position: relative;
  text-decoration: none;
  color: black;
}
/* line 19, ../../../src/attribute_icons.sass */
a.tip2 span {
  display: none;
}
/* line 23, ../../../src/attribute_icons.sass */
a.tip2:hover span {
  z-index: 9;
  display: block;
  position: absolute;
  padding: 1em;
  content: attr(title);
  min-width: 100px;
  text-align: center;
  width: 150px;
  max-width: 200px;
  text-align: left;
  height: auto;
  left: 175px;
  bottom: 45px;
  background: #76a6c9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #333333;
  font-size: 1em;
}
/* line 44, ../../../src/attribute_icons.sass */
a.tip2:hover span:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #76a6c9 transparent transparent transparent;
  border-style: solid;
  border-width: 18px 10px 7px 0px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

/* line 62, ../../../src/attribute_icons.sass */
#room_design_section {
  padding: 1em;
  position: relative;
  top: 2%;
  left: 2%;
  padding-right: 3%;
  border-right: 1px solid #999999;
}

/* line 71, ../../../src/attribute_icons.sass */
#equipment_section {
  float: left;
  position: relative;
  padding: 1em 1em 1em 3em;
  top: 2%;
  left: 6%;
}

/* line 80, ../../../src/attribute_icons.sass */
#accessibility_section {
  position: relative;
  top: -10%;
  left: 6%;
}

/* line 86, ../../../src/attribute_icons.sass */
#notes_section {
  float: left;
  position: relative;
  padding: 1em;
}

/* Individual Attributes */
/* line 93, ../../../src/attribute_icons.sass */
#classroom_attributes_wrapper {
  overflow: visible;
}

/* Styling for disclosure tab */
/* line 100, ../../../src/attribute_icons.sass */
#attributes_wrapper {
  display: visible;
}

/* line 103, ../../../src/attribute_icons.sass */
.attributes_disclosure_wrapper h3 {
  cursor: pointer;
  padding: 5px;
  position: relative;
  display: block;
  clear: both;
  padding-left: 10px;
  background: url(user_interface_elements/up_arrow.gif) no-repeat 100px 10px;
}

/* line 111, ../../../src/attribute_icons.sass */
.attributes_disclosure_wrapper_active h3 {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  background: url(user_interface_elements/down_arrow.gif) no-repeat 100px 14px;
}

/* line 117, ../../../src/attribute_icons.sass */
.advanced_search_disclosure_wrapper h4 {
  cursor: pointer;
  padding: 5px;
  position: relative;
  display: block;
  clear: both;
  padding-left: 10px;
  background: url(user_interface_elements/up_arrow.gif) no-repeat 100px 10px;
}

/* line 126, ../../../src/attribute_icons.sass */
.advanced_search_disclosure_wrapper_active h4 {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  background: url(user_interface_elements/down_arrow.gif) no-repeat 100px 14px;
}

/* line 132, ../../../src/attribute_icons.sass */
#advanced_search_wrapper {
  display: visible;
}

/* line 135, ../../../src/attribute_icons.sass */
#attribute_facility_code_heprod {
  display: visible;
}

/* line 139, ../../../src/attribute_icons.sass */
#attribute_student_capacity {
  overflow: visible;
  padding-left: 115px;
  background: url(attribute_icons/capacity.png) no-repeat 80px 0%;
}
/* line 143, ../../../src/attribute_icons.sass */
#attribute_student_capacity span {
  overflow: visible;
  position: absolute;
  left: 8em;
  z-index: 250000;
}

/* line 152, ../../../src/attribute_icons.sass */
#attribute_blackout {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/blackout.png) no-repeat 115px 0%;
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
}

/* line 158, ../../../src/attribute_icons.sass */
#attribute_classroom_layout {
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/layout.png) no-repeat 0% 0%;
}

/* line 164, ../../../src/attribute_icons.sass */
#attribute_seating {
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/seating.png) no-repeat 0% 0%;
}

/* line 169, ../../../src/attribute_icons.sass */
#attribute_sound_amplification {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/amplification.png) no-repeat 70px 0%;
}

/* line 174, ../../../src/attribute_icons.sass */
#attribute_network {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/ethernet.png) no-repeat 80px 0%;
}

/* line 178, ../../../src/attribute_icons.sass */
#attribute_power_outlets {
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/power.png) no-repeat 95px 0%;
}

/* line 183, ../../../src/attribute_icons.sass */
#attribute_board {
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/board_type.png) no-repeat 0% 0%;
}

/* line 188, ../../../src/attribute_icons.sass */
#attribute_computer_lab {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/computer_classroom.png) no-repeat 0% 0%;
}

/* line 192, ../../../src/attribute_icons.sass */
#attribute_podium_computer_mac {
  overflow: visible;
  position: relative;
  left: -4%;
  padding-left: 10px;
  background: url(attribute_icons/apple_computer.png) no-repeat 182px 0%;
}
/* line 198, ../../../src/attribute_icons.sass */
#attribute_podium_computer_mac label {
  position: relative;
  left: -5%;
}

/* line 201, ../../../src/attribute_icons.sass */
#attribute_podium_computer_pc {
  overflow: visible;
  position: relative;
  left: -4%;
  padding-left: 10px;
  background: url(attribute_icons/windows_computer.png) no-repeat 180px 0%;
}
/* line 207, ../../../src/attribute_icons.sass */
#attribute_podium_computer_pc label {
  position: relative;
  left: -6%;
}

/* line 210, ../../../src/attribute_icons.sass */
#attribute_dvd {
  overflow: visible;
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  padding-left: 25px;
  background: url(attribute_icons/dvd.png) no-repeat 0% 0%;
}

/* line 215, ../../../src/attribute_icons.sass */
#attribute_captioning_device {
  overflow: visible;
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  padding-left: 25px;
  background: url(attribute_icons/captioning.png) no-repeat 0% 0%;
}

/* line 220, ../../../src/attribute_icons.sass */
.podium_computer {
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
}

/* line 222, ../../../src/attribute_icons.sass */
#attribute_doc_camera {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/document_camera.png) no-repeat 70px 0%;
}

/* line 228, ../../../src/attribute_icons.sass */
#attribute_interactive_pen {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/interactive_pen.png) no-repeat 88px 0%;
}

/* line 232, ../../../src/attribute_icons.sass */
#attribute_lecture_capture {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/lecture_capture.png) no-repeat 85px 0%;
}

/* line 236, ../../../src/attribute_icons.sass */
#attribute_telephone {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/telephone.png) no-repeat 115px 0%;
}

/* line 240, ../../../src/attribute_icons.sass */
#attribute_video_conferencing {
  overflow: visible;
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  padding-left: 25px;
  background: url(attribute_icons/video_conferencing.png) no-repeat 65px 0%;
}

/* line 245, ../../../src/attribute_icons.sass */
#attribute_projecters {
  overflow: visible;
  border-bottom: 1px solid #999999;
  margin-bottom: 1em;
  width: 65%;
  margin-bottom: 2em;
  padding-left: 25px;
  background: url(attribute_icons/projection.png) no-repeat 0% 0%;
}

/* line 250, ../../../src/attribute_icons.sass */
#attribute_assisted_listening {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/assisted_listening.png) no-repeat 85px 0%;
}

/* line 254, ../../../src/attribute_icons.sass */
#attribute_instructor_wheelchair_access {
  overflow: visible;
  padding-left: 25px;
  background: url(attribute_icons/accessible.png) no-repeat 60px 0%;
}

/* line 259, ../../../src/attribute_icons.sass */
#attribute_notes label {
  text-align: left;
}

/* line 262, ../../../src/attribute_icons.sass */
#location_building_attributes_address, #location_building_attributes_address2 {
  width: 250px;
}

/* line 264, ../../../src/attribute_icons.sass */
#location_building_attributes_city {
  width: 85px;
}

/* line 266, ../../../src/attribute_icons.sass */
#location_building_attributes_state, #location_building_attributes_building_short_code {
  width: 25px;
}

/* line 268, ../../../src/attribute_icons.sass */
#location_building_attributes_zip, #classroom_room_number {
  width: 73px;
}
