/* Buildings Styles */
/* Index */
/* Show */
/* line 18, ../../../src/buildings.sass */
#building_location_attributes_latitude, #building_location_attributes_longitude {
  margin-left: 50px;
}

/* Edit */
/* BUILDINGS STYLING */
/* line 26, ../../../src/buildings.sass */
#building_image img {
  margin-right: 5%;
  float: right;
}

/* line 29, ../../../src/buildings.sass */
#building_data {
  float: left;
  margin-left: 3%;
  width: 35%;
}

/* line 35, ../../../src/buildings.sass */
#building_map {
  position: relative;
  top: 60px;
  clear: both;
  margin-top: 2%;
}

/* line 41, ../../../src/buildings.sass */
#where_am_i_map {
  float: right;
  border: 1px solid #999999;
  position: relative;
  bottom: 50px;
  margin: 1% 2% 1% 1%;
}
/* line 48, ../../../src/buildings.sass */
#where_am_i_map .input label {
  display: none;
}
/* line 50, ../../../src/buildings.sass */
#where_am_i_map .input #addresspicker_map {
  display: none;
}

/* line 52, ../../../src/buildings.sass */
#map {
  width: 320px;
  height: 250px;
  -webkit-box-shadow: #aaaaaa 0 2px 5px;
  -moz-box-shadow: #aaaaaa 0 2px 5px;
  box-shadow: #aaaaaa 0 2px 5px;
}

/* !BUILDINGS STYLING! */
