/* Classroom Styles
/* Classrooms have location attributes as well (lat/long) 

@mixin rounded-corners($radius: 10px) 
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin transparent($transparency: 0.5, $trans: 50)
  zoom: 1
  filter: alpha(opacity=$trans)
  opacity: $transparency

/* Index
select
  #search_location_id_equals
  width: 90%
  height: 2em
  
#rooms_search
  clear: both
  overflow: hidden
  @include rounded-corners(11px)

.content
  .row-fluid.classroom_top
    margin: -2em  

.content
  .row-fluid.classroom_top
    #Carousel
#carousel-nav
  float: left
      
#rooms_search_form 
  background-color: #76a6c9
  #min-height: 675px
  #height: 100%
  padding: 0 0 1000px 1em
  margin-bottom: -1000px
  display: inline

#rooms_search_instructions
  margin-top: 1em
  margin-bottom: 1em
  font-size: .9em
  color: #4C4C4C
  font-style: oblique
#rooms_search_instructions_extended
  font-size: .9em
  color: #4C4C4C
  font-style: oblique
  border-top: 1px solid #FFFFFF
  display: none

#rooms_results
  
  margin: 0 0 0 -1%
  padding-left: 1%
  min-height: 675px
  height: 100%
  background-color: #f8f5e4
  border-left: 1px solid #999

#number_of_results_selector
  float: right

#rooms_search_results_count 
  @include rounded-corners(11px)
  background: #e7e8e0
  padding: 0.75em
  margin: 1em 1em 1em 0
  font-weight: bold


.results_table
  background-color: #f8f5e4

#contact
  margin: 100px
  

#building_sign
  img
    height: 85px
    width: 128px

#updated_on
  float: right


#attributes
  margin-top: -20px
  a
    color: #191919
    &:hover
      
    
  ul
    ul
      margin-left: 10px
      
      li
        list-style-type: none


#rooms_search_form
  min-width: 200px
.tooltip-inner 
  font-size: 1.3em
  color: #fff

.attribute_true
  font-weight: bold
  display: visible
  
.attribute_false    
  text-decoration: line-through
  font-weight: normal
  @include transparent($transparency: 0.5, $trans: 50)
  
  
#room_number
  /*@include rounded-corners(11px)
  @include transparent($transparency: 0.7, $trans: 70)
  @include rounded-corners(11px)
  visibility: visible
  width: 180px
  
  background: #999999
  position: absolute
  left: 72%
  top: 90px
  float: right
  z-index: 1000
  h1
    font-size: 1.4em
    line-height: 1.1em
    margin-top: 6px
    margin-left: 15px
    color: #FFF
    
#technician_required
  color: #800000
  font-weight: bold

#contact_sheet
  margin-top: 3em
  

#main_image  
  display: block
#panorama
  width: 100%
  height: 400px
  display: block
  object 
    position: relative
    bottom: 15px

.legacy_panorama
  position: relative
  left: 12px
  z-index: 15

#classroom_thumb
  float: left
  width: 200px
  @include rounded-corners(15px)

.classroom_index_thumb
  max-height: 50px
  height: 45px
  max-width: 55px
  margin-left: 0.5em
  margin-right: 1em
  
#image_nav  
  z-index: 15000
  position: absolute
  top: 400px
  left: 57%
  float: right
  width: auto
  background-color: #ccc
  @include rounded-corners(20px)
  white-space: nowrap
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e8e0), to(#FFFFFF), color-stop(0.5, #E6E6E6))
  ul      
    li
      list-style-type: none
      display: inline-block 
      width: 70px   
      -webkit-transition: all 0.5s
      text-align: center
      padding: .0em .5em .5em .5em
      a
        font-weight: bold
           
      &:hover 
        #background-color: #e7e8e0     
      &:visited
        color: #09c      
      &:last-child
        border-right-style: hidden

/* Edit
#capacity_slider
  position: relative
  left: 2%
  max-width: 200px

  /* layout


.classroom_top
  background: #DDD7AF
  max-height: 400px
  min-width: 105%
  width: 105%
  overflow: inline
  border-bottom: 1px solid #D4CF9F
  .tab-content
    z-index: 500
    background: #3E424D
    

.control-group.boolean.optional
  margin-bottom: 0px
  
.tabbable#classroomTabs
  @include transparent($transparency: 0.8, $trans: 80)
  @include rounded-corners(15px)
  position: relative
  left: 60% 
  overflow: hidden
  bottom: 11px
  width: 305px
  z-index: 7000
 


#contactme
  background: #E6E6E6
  padding-left: 2em
  padding-top: 2em
  margin-bottom: -2em
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#9EA8C2), color-stop(0.5, #E6E6E6))
#pano
  
  width: 640px
  height: 400px
#missing_pano
  

#map_canvas
  width: 600px
#map img 
  max-width: none
  		
#building_float
  font-size: 90%
  z-index: 120000
  overflow: hidden
  display: block
  max-width: 155px
  min-width: 155px
  background: #DDD7AF
  padding: 0.7em
  img
    position: relative
    right: 10px
    width: 85%
    @include rounded-corners(11px)
  
/* Form


%select
  #classroom_location_id
    max-width:  160px
  #classroom_owner_id
    max-width: 240px
%textarea
  #classroom_location_attributes_description
  max-height: 100px
    