/* Classroom Styles
/* Classrooms have location attributes as well (lat/long) 


@mixin rounded-corners($radius: 10px) 
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin transparent($transparency: 0.5, $trans: 50)
  zoom: 1
  filter: alpha(opacity=$trans)
  opacity: $transparency

/* Index
select
  #search_location_id_equals
  width: 90%
  height: 10%
  
#rooms_search
  clear: both
  overflow: hidden
  
.round
  @include rounded-corners(8px)
  
.content
  .row.classroom_top
    margin: -2em
  .classroom_listing
    margin: -1em
    margin-right: -0.9em
    margin-bottom: -28px
    
    h2
    margin-top: -2em
 
#classroom_image_form
  p
    clear: left
  
.content
  .row.classroom_top
    border-radius: 8px 8px 0px 0px
    -moz-border-radius: 8px 8px 0px 0px
    -webkit-border-radius: 8px 8px 0px 0px
    overflow: hidden
    width: auto

    .tab-content
      padding-left: 25px


#carousel-nav
  float: left
      
#rooms_search_form 
  
  min-width: 200px
  //background-color: #B4C3DD
  background-color: #76a6c9
  //@include transparent($transparency: 0.8, $trans: 80)
  
  #min-height: 675px
  #height: 100%
  padding: 0 0 1000px 1em
  margin-bottom: -1000px
  display: inline
.classroom_index_icons
  a
    i
    padding-right: 5%
#rooms_search_instructions
  margin-top: 1em
  margin-bottom: 1em
  font-size: .9em
  color: #4C4C4C
  font-style: oblique
#rooms_search_instructions_extended
  font-size: .9em
  color: #4C4C4C
  font-style: oblique
  border-top: 1px solid #FFFFFF
  display: none

#rooms_results
  margin: 0 0 0 -5%
  
  min-height: 675px
  height: 100%
  background-color: #f8f5e4

#number_of_results_selector
  float: right

#rooms_search_results_count 
  @include rounded-corners(11px)
  background: #e7e8e0
  padding: 0.75em
  margin: 1em 1em 1em 0
  font-weight: bold
  
.classroom_form
  a
    color: black
    :hover
      text-decoration: none
  
  ul
    li
      list-style-type: none
      margin-left: -3em
  
.results_table
  background-color: #f8f5e4

#contact
  margin: 100px  

#building_sign
  img
    height: 85px
    width: 128px

#updated_on
  float: right

#attributes
  background: #fff
  margin-top: 1em
  a
    color: #191919
    &:hover    
  ul
    li
      list-style-type: none

  
.tooltip-inner 
  font-size: 1.3em
  color: #fff

.attribute_true
  font-weight: bold
  display: visible
  
.attribute_false    
  text-decoration: line-through
  font-weight: normal
  @include transparent($transparency: 0.5, $trans: 50)
  
#room_number
  @include transparent($transparency: 0.8, $trans: 80)
  @include rounded-corners(6px)
  visibility: visible
  background: #7D96B3
  position: absolute
  left: 65% 
  top: 100px 
  max-width: 225px
  z-index: 1000
  h1
    margin-top: 0.5em
    padding-left: 5px
    padding-right: 2px
    font-size: 1.1em
    line-height: 1.1em
    color: #FFF

#technician_required
  color: #800000
  font-weight: bold
  max-width: 95%

#left
  background-color: red

#right
  background-color: grey

.legacy_panorama
  position: relative
  left: 12px
  z-index: 15


.classroom_index_thumb
  max-height: 50px
  height: 45px
  max-width: 55px
  margin-left: 0.5em
  margin-right: 1em

#maptest 
  height: 200px
  
.row.classroom_top
  display: block
  overflow: hidden
  background: #DDD7AF
  /*background: #758FC2
  max-height: 320px
  min-height: 300px
  /*box-shadow: 0px 5px 5px  #B3B3B3
  
.control-group.boolean.optional
  margin-bottom: 0px
  
.tabbable#classroomTabs
  
  /*@include rounded-corners(15px)
  position: absolute
  top: 350px
  left: 58% 
  z-index: 20000

#attributes
  margin-bottom: 2em

#contact_sheet
  height: 300px  
  padding: .9em
  background: #e7e8e0
  
  font-size: 90%
  
  #support_info
    margin-left: 2em
  #scheduling_info
    margin-left: 2em
  #additional_contact_info
    margin-left: 2em
    
  hr
    width: 85%
    margin-bottom: 1em
    font: normal normal normal 0.8em Arial, sans-serif

#contact_me
  background: #e7e8e0
  height: 300px

#picture
  height: 100%
  max-height: 100% 
  width: auto
  background-color: #eee
  height: 300px
  

.tab-pane  
  margin-left: -15px
  margin-right: -30px
  
#pano
  min-height: 300px
  height: 300px

  z-index: 15
  
#capacity_slider
  max-width: 100px
  margin-left: 2em

.legacy_panorama
  position: relative
  left: 12px
  z-index: 15

#map 
  height: 300px
  min-height: 300px
  max-height: 300px
  img 
    max-width: none

#editmap
  position: relative
  left: 10px
  img
    max-width: none
#edit_classroom_form
  position: relative

#building_float
  
  //margin: -2.3em
  //margin-left: -0.5em
  
  font-size: 90%
  z-index: 120000
  display: hidden
  max-height: 300px
  height: 300px

  background: #DDD7AF  
  overflow: hidden
  img
    margin-top: 8px
    position: relative  
    width: 100%

#location_image_form
  img
    max-width: 40%
    
#last_updated
  float: right
  font-size: 85%  
/* Form

%select
  #classroom_location_id
    max-width:  160px
  #classroom_owner_id
    max-width: 240px
%textarea
  #classroom_location_attributes_description
  max-height: 100px





  


