/* line 1, ../../src/home_slider.sass */
#slideshow {
  float: left;
  margin: 0 auto;
  height: auto;
  background: transparent url(img/bg_slideshow.jpg) no-repeat 0 0;
  position: relative;
}

/* line 12, ../../src/home_slider.sass */
#slideshow #slidesContainer {
  margin: 0 auto;
  width: 880px;
  height: auto;
  overflow: auto;
  position: relative;
}

/* line 20, ../../src/home_slider.sass */
#slideshow #slidesContainer .slide {
  margin: 0 auto;
  width: 880px;
  height: auto;
}

/*
 * Slideshow controls style rules.
 */
/* line 29, ../../src/home_slider.sass */
.control {
  display: block;
  width: 39px;
  height: 263px;
  text-indent: -10000px;
  position: absolute;
  cursor: pointer;
}

/* line 37, ../../src/home_slider.sass */
#leftControl {
  top: 0;
  left: 0;
  background: transparent url(img/control_left.jpg) no-repeat 0 0;
}

/* line 42, ../../src/home_slider.sass */
#rightControl {
  top: 0;
  right: 0;
  background: transparent url(img/control_right.jpg) no-repeat 0 0;
}
