<object CLASSID='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width='720' height='500' CODEBASE='http://www.apple.com/qtactivex/qtplugin.cab'>
  <param name='src' value='/videos/panoramas/#{@classroom.facility_code_heprod.upcase}_qtvr.mov'>
  <param name='autoplay' value='true'>
  <param name='controller' value='true'>
  <embed src='/videos/panoramas/#{@classroom.facility_code_heprod.upcase}_qtvr.mov' width='720' height='500' autoplay='true' controller='true' pluginspage='http://www.apple.com/quicktime/'></embed>
</object>